body {
  height: 100vh;
  width: 100vw;
}

.m-height {
  max-height: 40vh;
}

.container-vuelos {
  max-height: 450px;
}

.position-relative span {
  top: 75px;
  left: 15px;
}

.weather_icon {
  font-size: 4.5rem;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 193, 7, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 193, 7, 0.8);
}

@media (min-width: 1400px) {
  .container-vuelos {
    max-height: 700px;
  }
}
